{% load widget_tweaks %}

<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-4"
    id="book-container">
    <div class="col-span-3">
        {% if filter.qs %}
            <table class="table">
                <thead class="text-xs uppercase">
                    <tr>
                        <th class="px-6 py-3">Title</th>
                        <th class="px-6 py-3">Author</th>
                        <th class="px-6 py-3">Edition</th>
                        <th class="px-6 py-3">Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in filter.qs %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>
                                {% for publication in book.publication_set.all %}
                                    {{ publication.author }}, 
                                {% endfor %}
                            </td>
                            <td>{{ book.edition }}</td>
                            <td>{{ book.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-2xl">
                No books found
            </p>
        {% endif %}
    </div>            
    <div class="col-span-1">
        <form hx-get="{% url 'books:book-list' %}"
            hx-target="#book-container"
            hx-swap="outerHTML">
            <div class="mb-2 form-control">
                {{ filter.form.book_status|add_label_class:"label" }}
                {% render_field filter.form.book_status class="select" %}
            </div>
            <button class="btn btn-success">
                Filter
            </button>
        </form>
    </div>
</div>    