{% load static %}
<!doctype html>
<html lang="en-gb">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href={% static "css/app.css" %} rel="stylesheet" />
    <script src={% static "js/third_party/htmx.2.0.8.min.js" %}></script>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <!-- This should be enough to make POST calls -->
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
  {% block content %} {% endblock %}
  </body>
</html>
