{% extends "base.html" %} {% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <article class="grid grid-flow-col grid-rows-20 shadow-xl/50 bg-reclam-yellow h-screen overflow-y-scroll">
        <div>
        </div>
        <div class="row-span-4">
            <div class="grid grid-cols-10">
                <div>
                </div>
                <div class="col-span-8 bg-reclam-white border-b-10">
                    <h1 class="mt-4 text-4xl leading-none tracking-tight ml-2 font-[DocumentaSTRegular]">
                        {{ book.get_authors }}
                    </h1>
                    <h1 class="mt-2 ml-2 mb-20 text-4xl leading-none tracking-tight font-[DocumentaSTRegular]">
                        {{ book.title }}
                    </h1>
                <div>
                </div>
            </div>
        </div>
        <div id="fragment-detail-container" class="row-span-15 mt-20 ml-20 mr-20">
            {% for fragment in fragments %}
                <div class="mb-5 text-balance text-lg hover:font-extrabold cursor-pointer"
                     hx-get="{% url 'books:fragment-detail' fragment.pk %}"
                     hx-target="#fragment-detail-container"
                     hx-swap="outerHTML"
                     hx-trigger="click">
                    {{ fragment.text|truncatechars:50 }}
                </div>
            {% endfor %}
        </div>
    </article>

{% endblock %}

{% partialdef fragment-detail %}
    <div class="mt-20 ml-20 mr-20 text-balance">
        <p class="text-lg/10 tracking-wide font-[DocumentaSansSTRegular]">
            {{ fragment.text }}
        </p>
    </div>
    <div class="flex justify-center">
        <button class="btn btn-primary btn-lg mr-1 mb-5 mt-10 bg-reclam-blue text-black">
            Back
        </button>
        <button class="btn btn-primary btn-lg mr-1 mb-5 mt-10 bg-reclam-blue text-black">
            Next
        </button>
    </div>
{% endpartialdef fragment-detail %}

<!-- To be removed once the transition from fragment detail to learning sequence has been decided -->
{% partialdef fragment-container %}
    <div class="mt-20 ml-20 mr-20 text-balance">
        <p class="text-lg/10 tracking-wide font-[DocumentaSansSTRegular]">
            {{ fragment.text }}
        </p>
    </div>
    <div class="flex justify-center mt-10 mb-10">
        <button class="btn btn-primary btn-lg inline-flex items-center mr-1 bg-reclam-blue text-black">
            Back
        </button>
        <button class="btn btn-primary btn-lg inline-flex items-center mr-1 bg-reclam-blue text-black">
            Next
        </button>
    </div>
{% endpartialdef fragment-container %}