{% extends "base.html" %} 
{% load widget_tweaks %}
{% block title %}My Books{% endblock %} 
{% block head_title %}
    Books
{% endblock %}
{% block content %}
    <h1 class="mt-4 mb-6 prose leading-none tracking-tight md:text-3xl lg:text-4xl flex items-center">
        Books
    </h1>

    <div class="relative overflow-x-auto">
        {% partial book-container %}
    </div>

{% endblock %}

{% partialdef book-container %}
    <div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-32"
        id="book-container">
        <div class="col-span-3">
            {% if filter.qs %}
                <table class="table">
                    <thead class="text-xs uppercase">
                        <tr>
                            <th class="px-6 py-3">Title</th>
                            <th class="px-6 py-3">Author(s)</th>
                            <th class="px-6 py-3">Edition</th>
                            <th class="px-6 py-3">Publication Date</th>
                            <th class="px-6 py-3">Status</th>
                            <th class="px-6 py-3">Language(s)</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for book in filter.qs %}
                            <tr>
                                <td>{{ book.title }}</td>
                                <td>
                                    {{ book.get_authors }}
                                </td>
                                <td>{{ book.edition }}</td>
                                <td>{{ book.publications.first.date }}</td>
                                <td>{{ book.get_status_display }}</td>
                                <td>{{ book.get_languages }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-2xl">
                    No books found
                </p>
            {% endif %}
        </div>            
        <div class="col-span-1">
            <form hx-get="{% url 'books:book-list' %}"
                hx-target="#book-container"
                hx-swap="outerHTML">
                <div class="mb-2 form-control">
                    {{ filter.form.book_status|add_label_class:"label mb-1 mr-2" }}
                    {% render_field filter.form.book_status class="select" %}
                </div>
                <button class="btn btn-success">
                    Filter
                </button>
            </form>
        </div>
    </div>
{% endpartialdef book-container %}

{% partialdef book-detail %}
    <header>
        <h1>{{ book.title }}</h1>
    </header>
    <main>
        <p class="status">The status of the books is: {{ book.status }}.</p>
    </main>
{% endpartialdef book-detail %}