{% extends "base.html" %} 
{% load widget_tweaks %}
{% block title %}My Books{% endblock %} 
{% block head_title %}
    Books
{% endblock %}
{% block content %}
    <div class="grid grid-cols-1 gap-4">
        <div>
            <button class="btn btn-primary bg-reclam-yellow text-black"
                    hx-get="{% url 'books:book-add' %}"
                    hx-target="next tbody"
                    hx-swap="afterbegin"
            >
                Add Book
            </button>
        </div>
        
        <div class="relative overflow-x-auto">
            {% partial book-container %}
        </div>
    </div>

{% endblock %}

{% partialdef book-add %}
    <tr>
        <td>
            {{ form.title }}
            {{ form.title.errors }}
        </td>
        <td>
            
        </td>
        <td>
            {{ form.status }}
            {{ form.status.errors }}
        </td>
        <td>
            <div class="inline-flex" role="group">
                <button class="btn btn-primary btn-sm inline-flex items-center bg-reclam-green mr-1"
                    hx-post="{% url 'books:book-add-submit' %}" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML" 
                    hx-include="closest tr" 
                >
                    Save
                </button>
                <button class="btn btn-primary btn-sm inline-flex items-center bg-reclam-orange text-black"
                    hx-get="{% url 'books:book-add-cancel' %}" 
                    hx-target="closest tr" 
                    hx-swap="outerHTML"
                >
                    Cancel
                </button>
            </div>
        </td>
    </tr>
{% endpartialdef book-add %}

<!-- The filtered results are fed into the book-container partial -->
{% partialdef book-container %}
    <div
        id="book-container">
        <div>
            {% if filter.qs %}
                <table class="table">
                    <thead class="text-xs uppercase">
                        <tr>
                            <th class="px-6 py-3">Title</th>
                            <th class="px-6 py-3">Author(s)</th>
                            <th class="px-6 py-3">Status</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody hx-target="closest tr" hx-swap="outerHTML">
                        {% for book in filter.qs %}
                            {% partial book-row %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-2xl">
                    No books found
                </p>
            {% endif %}
        </div>
    </div>
{% endpartialdef book-container %}

<!-- The book-row partial is used to in-line edit books -->
{% partialdef book-row %}
    <tr>
        <td class="hover:bg-reclam-yellow"><a href="{% url 'books:book-detail' book.pk %}">{{ book.title }}</a></td>
        <td>
            {{ book.get_authors }}
        </td>
        <td>{{ book.get_status_display }}</td>
        <td>
            <button class="btn btn-primary btn-sm bg-reclam-yellow text-black" 
            hx-get="{% url 'books:book-edit' book.pk %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            >
                Edit
            </button>
        </td>
    </tr>
{% endpartialdef book-row %}

{% partialdef book-edit %}
    <tr>
        <td>
            {{ form.title }}
            {{ form.title.errors }}
        </td>
        <td>
            {{ book.get_authors }}
        </td>
        <td>
            {{ form.status }}
            {{ form.status.errors }}
        </td>
        <td>
            <div class="inline-flex" role="group">
                    <button class="btn btn-primary btn-sm inline-flex items-center bg-reclam-green mr-1" 
                            hx-post="{% url 'books:book-edit-submit' book.pk %}" 
                            hx-target="closest tr" hx-swap="outerHTML" 
                            hx-include="closest tr" class="text-secondary">
                            Save
                    </button>

                    <button class="btn btn-primary btn-sm inline-flex items-center bg-reclam-orange text-black" 
                            hx-get="{% url 'books:book-edit-submit' book.pk %}" 
                            hx-target="closest tr" hx-swap="outerHTML" 
                            hx-include="closest tr" class="text-secondary">
                            Cancel
                    </button>        
                
            </div>
        </td>
    </tr>
{% endpartialdef book-edit %}