{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4 mb-6 text-2xl leading-none tracking-tight md:text-3xl lg:text-4xl">
    Welcome to Grasp
</h1>


{% if user.is_authenticated %}

    <div class="flex items-center mb-6">
    
        <p class="text-xl">
            Welcome, {{ user.username }}
        </p>
    </div>

    <div class="border mb-6"></div>

    <div class="mb-3">
        <a href="{% url 'books:book_list' %}" 
            class="font-medium hover:underline flex items-center">
              
            View My Books
        </a>
    </div>

{% else %}

{% endif %}

{% endblock content %}